@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$header-color: #48556A;
$filter-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(200%) contrast(102%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body, html {
    background-color: #ECF2F8;
    display: flex;
    height: 100vh;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 
}

.article {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    
    &-image {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    &-content {
        padding: 20px 20px 0;
    }

    &-title {
        font-size: 18px;
        font-weight: 700;
        color: $header-color;
        padding-bottom: 20px;
    }

    &-description {
        color: #6E8098;
        padding-bottom:  20px;
    }
}

.author {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding-bottom: 20px;

    &-image {
        width: 40px;
        border-radius: 50%;
    }

    &-name {
        font-size: 14px;
        color: $header-color;
    }

    &-date {
        font-size: 13px;
        color: #9DAEC2;
    }

    &-share {
        border: none;
        border-radius: 50%;
        padding: 8px;
        background-color: #ECF2F8;
        margin-left: 15%;

        &-icon {
            width: 15px;
            height: 13px;
            color: #ffffff;
        }
    }
}

.share {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    background-color: #48556A;
    color: #9DAEC2;
    padding: 20px;
    border-radius:  0 0 10px 10px;

    & a {
        display: flex;
    }

    &-title {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 14px;
    }

    &-arrow {
        border: none;
        border-radius: 50%;
        padding: 8px;
        background-color: #6E8098;
        margin-left: 15%;

        &-icon {
            width: 15px;
            height: 13px;
            filter: $filter-white;
        }
    }
}

@media only screen and (min-width: 768px) {
    body, html {
        overflow-x: unset;
    }

    .article {
        display: flex;
        width: 750px;
        position: relative;

        &-image {
            width: 280px;
            height: auto;
            border-radius: 10px 0 0 10px;
        }

        &-content {
            padding: 25px 20px;
        }

        &-title {
            width: 80%;
            font-size: 20px;
        }

        &-description {
            font-size: 14px;
            width: 90%;
            padding-bottom: 30px;
        }
    }

    .author-share {
        margin-left: 40%;
        cursor: pointer;
    }

    .div-share {
        position: absolute;
    }
    
    .share {
        position: absolute;
        width: 250px;
        background: #48556A;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        right: -4rem;
        top: 8rem;

        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 15px 15px 0;
            border-color: #48556A transparent;
            display: block;
            width: 0;
            z-index: 1;
            bottom: -15px;
            left: 110px;
        }

        &-arrow {
            display: none;
        }
    }
}